<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fake Buster App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Fake Buster</h1>
    <p>Using this fake buster you can easily classify if you have got fake news.</p>
  </div>
  <form action="{{ url_for('predict')}}"method="post">
    <h2>Enter the article text here</h2>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
    </div>
    <div class="container">
      <input type="submit" class="btn btn-primary" value="predict">
    </div>
  </form>
  <div>
    <h3>You Entered</h3>
    <p>{{ usertext }}</p>
  </div>
  <div>
    <h3>{{ result }}</h3>
  </div>
</div>

</body>
</html>
